<section class="comments">
  <h3>Comments</h3>
  <div>
    {{#if comments}}
    <ul>
      {{#each comments}}
      <li class="comment">
        <div id="pre-comment">
          <p id="comment-user">{{user.username}} </p>
          <p id="comment-date"> on {{format_date created_at}} at {{format_time created_at}}</p>
        </div>
        <div id="comment-text">
          {{comment_text}}
        </div>
      </li>
      {{/each}}
    </ul>
    {{/if}}
    {{#if loggedIn}}
    <form class="comment-form">
      <div>
        <textarea id="text-input" name="comment-body" placeholder="Leave a comment..."></textarea>
      </div>
      <div>
        <button id="add-comment-btn" type="submit">add comment</button>
      </div>
    </form>
    {{else}}
    {{#unless comments}}
    <p><em>No comments.</em></p>
    {{/unless}}
    {{/if}}
  </div>
</section>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}