<article class="post">
  <div class="title">
    <p id="title">{{title}}</p>
    <p id="username"> by {{user.username}}</p>
    <div>
        <p id="votes"> Likes: {{vote.likes.length}} /\ Dislikes: {{vote.dislikes.length}}</p>
        <p>{{description}}</p>
        <p>Coordinates: ({{latitude}}, {{longitude}})</p>
    </div>
    <div>
        <img src={{image}}>
    </div>
  </div>
  <div class="meta">
      Created at {{format_date created_at}}
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>