<a href="/dashboard"> &larr; Back to dashboard</a>
<div style="margin:1rem 0">
  <h2>{{#if post.id}}Edit Your{{else}}Create A New{{/if}} Post</h2>
</div>

<article class="edit-post">
  <form id="edit-form">
    <input type="hidden" name="id" value="{{#if post.id}}{{post.id}}{{/if}}" />
    <input type="hidden" name="tag-ids" value="" />
    <div>
      <label for="title">Title:</label><br>
      <input class="post-input" type="text" name="title" {{#if post.id}} value="{{post.title}}" {{/if}}
        placeholder="Post Title" />
    </div>
    <div>
      <label for="description">Description:</label><br>
      <textarea id="text-input" name="description" rows="5"
        placeholder="Post content...">{{#if post.description}}{{post.description}}{{/if}}</textarea>
    </div>
    <div>
      <label for="image-url">Photo:</label><br>
      <div id="image-url-wrap">
        <input class="post-input" type="text" name="image-url" {{#if post.id}} value="{{post.image_url}}" {{/if}}
          placeholder="Photo URL" />&nbsp;or&nbsp;<button id="upload-image">Upload Photo</button>
      </div>
    </div>
    <div>
      <label>Location:</label><br>
      <div id="coordinates-wrap">
        <input class="post-input" type="text" name="latitude" {{#if post.id}} value="{{post.latitude}}" {{/if}}
          placeholder="latitude" />
        <input class="post-input" type="text" name="longitude" {{#if post.id}} value="{{post.longitude}}" {{/if}}
          placeholder="longitude" />
      </div>
    </div>
    <div id="tag-section">
      <label>Great for:</label>
      <ul class="tag-list tag-inputs">
        {{#each tags}}
        <li class="tag-list-item">
          <input id="tag-{{id}}-btn" class="tag-input hidden" type="checkbox" value="{{id}}" {{#if checked}}
            checked="checked" {{/if}} />
          <label for="tag-{{id}}-btn">{{tag_name}}</label>
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="post-toolbar">
      <div>
        <button class="save-btn" type="submit">Save post</button>
        {{#if post.id}}<button type="button" class="delete-post-btn delete-btn">Delete post</button>{{/if}}
      </div>
      {{#if post.id}}<div>created by you on {{format_date post.created_at}}</div>{{/if}}
    </div>
  </form>
</article>


{{#if post.id}}
{{> comments post}}
{{/if}}

<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<script src="/javascript/edit-post.js"></script>
{{#if post.id}}
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>
{{/if}}