{{#if nickname}}
<h2>{{nickname}}'s Posts</h2>
{{else}}
{{#if tag}}
<h2>{{tag}} Posts</h2>
{{/if}}
{{/if}}
{{#each posts}}
<article>
  <p>Post ID: {{id}}</p>
  <p>Title: <a href="/post/{{id}}">{{title}}</a></p>
  <p>Author: <a href="/user/{{user.post_author_id}}">{{user.post_author}}</a></p>
  <p>Description: {{description}}</p>
  {{#if image_url_sized}}
  <p><img src="{{image_url_sized}}" /></p>
  {{/if}}
  <p>Image URL: [{{image_url}}]</p>
  <p>Tags:
    {{#each tags}}
    [<a href="/tag/{{tag_id}}">{{tag_name}}</a>]
    {{/each}}
  </p>
  <p>Created at: {{created_at}}</p>
    <p id="post-{{id}}-vote">
      <span class="vote-like">
        <input type="radio" class="vote-input" name="vote-{{id}}" id="like-button-{{id}}" value="like" {{#if
          liked}} checked="checked" {{/if}} data-post-id="{{id}}">
        <label for="like-button-{{id}}">Like (<span class="like-count">{{likes}}</span>)</label>
      </span>
      <span class="vote-dislike"><input type="radio" class="vote-input" name="vote-{{id}}"
          id="dislike-button-{{id}}" value="dislike" {{#if unliked}} checked="checked" {{/if}}
          data-post-id="{{id}}">
        <label for="dislike-button-{{id}}">Dislike (<span class="dislike-count">{{dislikes}}</span>)</label>
      </span>
      <input type="radio" class="vote-input" name="vote-{{id}}" id="novote-button-{{id}}" value="novote" {{#if
        novote}} checked="checked" {{/if}} data-post-id="{{id}}"> no vote
    </p>
  <p><a href="/post/{{id}}">{{comment_count}} comments</a></p>
</article>
<br><br>
{{/each}}
<script src="/javascript/vote.js"></script>