<div class="v-spacer"></div>
<article class="post">
  <div class="spd1">
    <a id="titttle" href="/post/{{id}}">
      <h1 class="post-title">{{title}}</h1>
    </a>
    <img class="place-image" src="{{image_url}}" />
    <div class="post-byline">
      Posted by <a href="/user/{{user.post_author_id}}">{{user.post_author}}</a>
      on {{format_date created_at}}
    </div>
  </div>
  <div class="spd2">
    <div class="description">{{description}}</div>
    {{#if map_url}}
    <div class="map-container">
      <a href="https://www.google.com/maps/search/?api=1&query={{latitude}}%2C{{longitude}}" target="_blank"><img
          class="embedded-map" src="{{map_url}}" /></a>
    </div>
    {{/if}}
  </div>
  {{> tags this}}
  <div class="social-bar">
    <div><a id="comment-count" href="/post/{{id}}">{{comment_count}} {{format_plural 'comment' comment_count}}</a></div>
    {{> like-controls this}}
  </div>
</article>
{{> comments this}}
<script src="/javascript/vote.js"></script>