<article>
  <p>Post ID: {{post.id}}</p>
  <p>Author: <a href="/user/{{post.user.post_author_id}}">{{post.user.post_author}}</a></p>
  <p><img src="{{post.image_url}}" /></p>
  <p>Title: <a href="/post/{{post.id}}">{{post.title}}</a></p>
  <p>Description: {{post.description}}</p>
  <p>Image URL: [{{post.image_url}}]</p>
  <p>Tags:
    {{#each post.tags}}
    [<a href="/tag/{{tag_id}}">{{tag_name}}</a>]
    {{/each}}
  </p>
  <p>Created at: {{post.created_at}}</p>
  {{> like-controls post}}
  <p><a href="/post/{{post.id}}">{{post.comment_count}} comments</a></p>
</article>
<script src="/javascript/vote.js"></script>